@import "Style/color.scss";

.exp_btn_white {
  position: absolute;
  top: 400px;
  left: 50%;
  margin-left: 361px;
  width: 187px;
  height: 62px;
  font-size: 20px;
  text-align: center;
  background-color: white;
  color: $expBtnColor;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}
