.main_image {
  height: 850px;
  position: relative;

  background: url("http://cdn.tutoring.co.kr/uploads/home/img/main/version3/main_visual_pc2.jpg")
    no-repeat;
  background-size: cover;

  .main_text {
    width: 1100px;
    margin: 0 auto;
    padding: 220px 0 0;
    text-align: right;
    color: white;
    font-size: 44px;
    line-height: 75px;

    h3 {
      font-weight: 300;
    }

    em {
      display: block;
      font-weight: bold;
    }
  }
}
