@import "Style/color.scss";
@import "Style/common.scss";

.main_wrapper {
  height: 850px;
  position: relative;

  background: url("http://cdn.tutoring.co.kr/uploads/home/img/main/version3/main_visual_pc2.jpg")
    no-repeat;
  background-size: cover;

  letter-spacing: -2px;

  .main_text_wrap {
    width: 1100px;
    margin: 0 auto;
    padding: 220px 0 0;
    text-align: right;
    color: white;
    font-size: 46px;
    line-height: 75px;

    h3 {
      font-weight: 300;
    }

    em {
      display: block;
      font-weight: bold;
    }
  }

  .main_underbar_wrap {
    width: 100%;
    height: 118px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: $mainUnderbarBgc;

    .main_underbar_item {
      text-align: center;

      li {
        position: relative;
        display: inline-block;
        height: 60px;
        padding: 36px 33px 0 106px;
        text-align: left;
        margin-top: 29px;
        color: white;
        font-size: 18px;

        em {
          font-size: 30px;
          font-weight: 500;
          font-family: "Roboto", sans-serif;
          color: #ffe812;
          position: absolute;
          top: 0;
          left: 0;
          height: 60px;
          padding-left: 106px;
        }

        span {
          position: absolute;
          left: 30px;
          top: 0;

          display: block;
          width: 60px;
          height: 60px;

          background-size: 420px 400px;
        }

        .underbar_icon_down {
          background-position: 0 -330px;
        }

        .underbar_icon_star {
          background-position: -60px -330px;
        }

        .underbar_icon_chart {
          background-position: -120px -330px;
        }

        .underbar_icon_mark {
          background-position: -180px -330px;
        }
      }
    }

    p {
      font-size: 15px;
      font-weight: 700;
      color: white;
      position: absolute;
      bottom: 40px;
      right: 30px;
    }
  }
}
