@import "Style/color.scss";
@import "Style/common.scss";

.main_wrapper {
  height: 850px;
  position: relative;

  background: url("http://cdn.tutoring.co.kr/uploads/home/img/main/version3/main_visual_pc2.jpg")
    no-repeat;
  background-size: cover;

  letter-spacing: -2px;

  .main_text_wrap {
    width: 1100px;
    margin: 0 auto;
    padding: 220px 0 0;
    text-align: right;
    color: white;
    font-size: 46px;
    line-height: 75px;

    h3 {
      font-weight: 300;
    }

    em {
      display: block;
      font-weight: bold;
    }
  }

  .main_underbar_wrap {
    width: 100%;
    height: 118px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: $mainUnderbarBgc;

    .main_underbar_item {
      text-align: center;

      li {
        position: relative;
        display: inline-block;
        height: 60px;
        padding: 30px 33px 0 106px;
        text-align: left;
        margin-top: 29px;
        color: white;
        font-size: 18px;

        em {
          font-size: 30px;
          font-weight: 500;
          font-family: "Roboto", sans-serif;
          color: #ffe812;
          position: absolute;
          top: -6px;
          left: 0;
          height: 60px;
          padding-left: 106px;
        }

        span {
          position: absolute;
          left: 30px;
          top: 0;

          display: block;
          width: 60px;
          height: 60px;

          background-size: 420px 400px;
        }

        .underbar_icon_down {
          background-position: 0 -330px;
        }

        .underbar_icon_star {
          background-position: -60px -330px;
        }

        .underbar_icon_chart {
          background-position: -120px -330px;
        }

        .underbar_icon_mark {
          background-position: -180px -330px;
        }
      }
    }

    p {
      font-size: 15px;
      font-weight: 700;
      color: white;
      position: absolute;
      bottom: 40px;
      right: 30px;
    }
  }
}

// About Item css
.main_about {
  overflow: hidden;
  letter-spacing: -1px;

  .bg_slice {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;

    height: 100px;
    z-index: 1;
  }

  .bg_slice_m {
    display: none;
  }

  .bg_no {
    right: 150px;
    width: 550px;
    background-image: url("http://cdn.tutoring.co.kr/uploads/home/img/main/version3/bg_about_no_pc.png");
  }

  .emph_sub {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1;
  }

  .tit_about {
    margin-bottom: 42px;
    font-size: 48px;
    line-height: 64px;
    display: block;
    font-weight: bold;
    color: #333;
    letter-spacing: -2px;
  }

  .list_about {
    width: 480px;

    li {
      padding: 24px 0 30px;
      font-size: 18px;
      line-height: 30px;
      border-top: 1px solid #dee1eb;
      border-width: 2px;

      &:first-child {
        border-top: 0 none;
      }
    }

    strong {
      display: block;
      margin-bottom: 6px;
      font-size: 20px;
      line-height: 29px;
      font-weight: 600;
    }
  }

  .bg_txt {
    display: block;
    position: absolute;
    bottom: 0;
    height: 301px;
    font-size: 1px;
    background-repeat: no-repeat;
    color: transparent;
  }

  .about_left {
    position: relative;
    float: left;
    width: 50%;
    height: 850px;
    background-color: #f5f5fa;
    z-index: -1;

    .left_innerbox {
      float: right;
      padding-left: 290px;
      padding: 80px 0 120px;
      color: #666;
    }

    .bg_slice {
      margin-left: -55px;
    }

    .bg_slice_pc {
      display: block;
    }
  }

  .about_right {
    position: relative;
    float: left;
    width: 50%;
    height: 850px;

    background-color: #6759ef;
    color: #fff;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -55px;
      width: 55px;
      height: 850px;
      background: url(//cdn.tutoring.co.kr/uploads/home/img/main/version3/bg_length02.png)
        0 0 no-repeat;
      z-index: -1;
    }

    .right_innerbox {
      height: 850px;
      padding: 80px 0 0;
      background: none;

      .emph_sub {
        padding-left: 78px;
      }

      .tit_about {
        padding-left: 78px;
        color: #fff;
      }

      .list_about {
        width: 512px;
        margin-left: -52px;

        li {
          padding-left: 132px;
          border-color: rgba(255, 255, 255, 0.3);
        }

        strong {
          color: #ffe812;
        }
      }

      .bg_yes {
        left: 105px;
        width: 705px;
        background-image: url("http://cdn.tutoring.co.kr/uploads/home/img/main/version3/bg_about_yes_pc.png");
      }
    }
  }

  .bg_slice {
    left: -55px;
    width: 108%;
  }

  .bg_slice_pc {
    display: block;
  }
}
