.main_about_lab {
  .lab_wrap {
    width: 960px;
    margin: 0 auto;

    &::after {
      display: block;
      visibility: hidden;
      height: 0;
      font-size: 0;
      clear: both;
      content: "";
    }
  }

  .txt_item {
    margin-bottom: 35px;
  }
}
