.tutor_container {
  margin-bottom: 100px;

  .title {
    text-align: center;
    font-size: 40px;
    padding-top: 130px;
  }

  .filter_box {
    display: flex;
    max-width: 1160px;
    height: 100px;

    margin: 100px auto 0;
    justify-content: space-between;
  }

  .filter_left {
    width: 450px;
    text-align: left;

    li {
      display: inline-block;
      margin: 0 10px;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 30px;
      background-color: rgba(102, 102, 102, 0.1);

      &:first-child {
        margin-left: 0;
      }
    }

    .on {
      font-weight: 600;
      background-color: yellow;
    }
  }

  .filter_right {
    width: 300px;

    input {
      width: 97%;
      height: 35%;
      border: 1px solid rgba(102, 102, 102, 0.3);
      border-radius: 5px;
      padding-left: 20px;
    }
  }

  // 리스트 감싸고 있는 div
  .tutor_list {
    display: flex;
    flex-wrap: wrap;

    max-width: 1366px;
    min-height: 300px;
    margin: 0 auto 30px;

    ul {
      width: 100%;
      text-align: center;
    }
    li {
      display: inline-block;

      width: 280px;
      height: 300px;

      margin: 0 10px 25px 0;

      border: 1px solid rgba(200, 200, 200, 0.7);
      border-radius: 15px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.18);

      animation-name: tutorList;
      animation-duration: 1s;
    }

    .up_box {
      width: 100%;
      height: 80%;

      .thumb_box {
        display: inline-block;
        width: 120px;
        height: 120px;

        margin: 20px auto 0;

        .thumb {
          width: 100%;
          height: 100%;

          border-radius: 100%;
        }
      }

      .tutor_name {
        font-size: 20px;
        font-weight: 600;
      }

      .tutor_intro {
        font-size: 13px;
        color: rgba(102, 102, 102, 0.5);
        padding: 0 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .tutor_common {
        margin-top: 10px;
      }
    }

    .down_box {
      width: 100%;
      height: 20%;

      background-color: rgba(229, 229, 229, 0.2);

      .lesson {
        font-size: 17px;
        font-weight: 600;
        padding-top: 6px;
      }

      .type {
        font-size: 13px;
        color: rgba(102, 102, 102, 0.5);
      }
    }
  }

  .pagination {
    width: 100%;
    min-height: 50px;
    position: relative;
    left: 47%;

    .slide_btn {
      position: absolute;
      top: 0;
      bottom: auto;
      right: auto;
      width: 50px;
      height: 50px;
      margin: 0;
      background-color: #6759ef;
      background-image: none;
      outline: none;
      cursor: pointer;

      &:last-child {
        left: 50px;

        &::after {
          background-position: -366px -70px;
        }
      }

      &::after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 22px;
        margin: 14px 19px;

        background-image: url("//cdn.tutoring.co.kr/uploads/home/img/main/version3/ico_home_3_190402.png");
        background-position: -350px -70px;
        background-size: 420px 400px;
      }
    }
  }
}

@keyframes tutorList {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
