.icon {
  background-image: url("http://cdn.tutoring.co.kr/uploads/home/img/main/version3/ico_home_3_190402.png");
}

.fl_r {
  float: right;
}

.fl_l {
  float: left;
}

.txt_b_m {
  display: inline;
}

.txt_b_p {
  display: block;
}
