.main_about_tuto {
  position: relative;
  padding: 80px 0 0;
  padding-bottom: 180px;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -1px;
  text-align: center;

  font-size: 16px;
  line-height: 30px;

  .bg_slice {
    height: 100px;
  }

  .inner_item {
    width: 960px;
    text-align: left;
    display: block;
    overflow: visible;
    position: relative;
    margin: 0 auto;
    clear: both;

    .tit_sub {
      display: block;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 30px;
      font-size: 20px;
    }

    .tit_item {
      display: block;
      font-weight: 600;
      font-size: 48px;
      margin-bottom: 20px;
      letter-spacing: -2px;
    }

    &::after {
      display: block;
      visibility: hidden;
      height: 0;
      font-size: 0;
      clear: both;
      content: "";
    }
  }

  // Ul 리스트 CSS
  .about_tuto_list {
    width: 1100px;
    margin: 0 auto;

    li {
      display: block;
      overflow: visible;
      position: relative;
      width: auto;
      height: 435px;
      padding-top: 54px;
      padding-bottom: 45px;
      text-align: left;
      clear: both;

      .thumb_box {
        position: relative;

        .img_tudal {
          display: none;
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 270px;
          height: 270px;
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100%;
        }

        .img_tudal03 {
          position: absolute;
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100%;
          left: 50%;
          display: block;
          bottom: -28px;
          width: 225px;
          height: 225px;
          margin-left: 70px;

          background-image: url("//cdn.tutoring.co.kr/uploads/home/img/main/version3/tudal_custom03.png");
        }

        .img_tudal04 {
          display: block;
          bottom: -30px;
          width: 280px;
          height: 292px;
          margin-left: 56px;

          background-image: url("//cdn.tutoring.co.kr/uploads/home/img/main/version3/tudal_custom04_pc.png");
        }

        .tudal_flame {
          display: block;
          bottom: -22px;
          width: 201px;
          height: 261px;
          margin-left: -290px;

          background-image: url(//cdn.tutoring.co.kr/uploads/home/img/main/version3/tudal_flame.png);
          background-size: 100% auto;
        }

        .tudal_maracas {
          display: block;
          bottom: -54px;
          width: 161px;
          height: 217px;
          margin-left: 105px;
          background-image: url(//cdn.tutoring.co.kr/uploads/home/img/main/version3/tudal_maracas.png);
          background-size: 100% auto;
        }
      }

      .desc_box {
        position: relative;
        width: 482px;
        padding: 0;
        padding-left: 68px;

        overflow: hidden;
      }

      .custom_cover {
        overflow: hidden;
        position: relative;
        width: 550px;
        height: 435px;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .custom_category {
        width: 520px;
        height: 435px;
        margin-right: 4px;

        background-image: url("http://cdn.tutoring.co.kr/uploads/home/img/main/version3/custom_category_02.png");
        background-size: 484px 336px;
        background-position: 0 62px;
        background-repeat: no-repeat;
      }

      .custom_topic {
        background-size: 235px 275px;
        background-image: url(//cdn.tutoring.co.kr/uploads/home/img/main/version3/custom_topic_02.png);
        background-position: 0 65px;

        .img_phone {
          margin-left: 176px;
        }
      }

      .img_tutor {
        display: block;
        position: absolute;
        top: -19px;
        left: -45px;
      }

      .img_phone {
        display: block;
        width: 292px;
        height: 435px;
        margin: 0 auto;
      }

      .img_mov {
        position: absolute;
        top: 56px;
        left: 50%;
        width: 264px;
        margin-left: -131px;
      }

      .img_selection {
        width: 447px;
        height: 453px;
        margin-left: 43px;
      }

      .img_graph {
        position: absolute;
        top: 147px;
        width: 328px;
        margin-left: -244px;
        left: 50%;
      }

      .tit_custom {
        display: block;
        font-weight: bold;
        line-height: 1;
        color: #333;
        margin-top: 60px;
        font-size: 30px;
      }

      .emph_custom {
        display: block;
        font-size: 18px;
        font-weight: 600;

        color: #6759ef;

        margin-top: 27px;
        margin-bottom: 25px;

        line-height: 27px;
      }

      &::after {
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
        clear: both;
        content: "";
      }
    }

    //  list_03 css
    .list_03 {
      .thumb_box {
        padding-right: 50px;
      }

      .desc_box {
        width: 430px;
      }
    }
  }
}
