.main_about_match {
  height: 552px;

  padding: 80px 0 73px;
  position: relative;

  font-size: 16px;
  line-height: 30px;

  background-color: #f5f5fa;

  .match_wrap {
    width: 960px;
    text-align: initial;

    margin: 0 auto;

    .tit_g {
      display: block;
      font-size: 22px;
      font-weight: 500;
      line-height: 34px;

      margin-bottom: 21px;
    }
  }
}
